* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: #fafafa;
}

a {
  color: #08979c;
}

a:hover {
  color: #08979c;
  opacity: 0.8;
}
